/* Copyright 2005 Robert Horvath - Hungarian trasnlation - talley at cubeclub.hu */

LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

/* String Tables */

/* Default settings */
STRINGTABLE
BEGIN
    IDS_APPTITLE "WinDosDX - Üdvözlünk"
    IDS_DEFAULT_TOPIC_TITLE "WinDosDX"
    IDS_DEFAULT_TOPIC_DESC "Üdvözlünk a WinDosDX Operációs Rendszerben.\n\n"
    IDS_FONTNAME "Tahoma"
    IDS_CHECKTEXT "&Show this dialog again"
    IDS_CLOSETEXT "&Kilépés"
END

/* Topic buttons */
STRINGTABLE
BEGIN
    IDS_TOPIC_BUTTON0 "&WinDosDX telepítése"
    IDS_TOPIC_BUTTON1 "&A CD böngészése"
    IDS_TOPIC_BUTTON2 "&Kilépés"
END

/* Topic titles */
STRINGTABLE
BEGIN
    IDS_TOPIC_TITLE0 "WinDosDX telepítése"
    IDS_TOPIC_TITLE1 "A CD böngészése"
    IDS_TOPIC_TITLE2 "Kilépés"
END

/* Topic descriptions */
STRINGTABLE
BEGIN
    IDS_TOPIC_DESC0 "A WinDosDX telepítése vagy frissítése."
    IDS_TOPIC_DESC1 "A CD böngészése"
    IDS_TOPIC_DESC2 "Kilépés"
END
