LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

/* String Tables */

/* Default settings */
STRINGTABLE
BEGIN
    IDS_APPTITLE "WinDosDX - Bem-vindo"
    IDS_DEFAULT_TOPIC_TITLE "WinDosDX"
    IDS_DEFAULT_TOPIC_DESC "Bem-vindo ao Sistema Operativo WinDosDX.\n\nClique num tópico à esquerda."
    IDS_FONTNAME "Tahoma"
    IDS_CHECKTEXT "&Mostrar este diálogo novamente"
    IDS_CLOSETEXT "&Sair"
END

/* Topic buttons */
STRINGTABLE
BEGIN
    IDS_TOPIC_BUTTON0 "&Instalar o WinDosDX"
    IDS_TOPIC_BUTTON1 "Examinar este &CD"
    IDS_TOPIC_BUTTON2 "&Sair"
END

/* Topic titles */
STRINGTABLE
BEGIN
    IDS_TOPIC_TITLE0 "Instalar WinDosDX"
    IDS_TOPIC_TITLE1 "Examinar este CD"
    IDS_TOPIC_TITLE2 "Sair"
END

/* Topic descriptions */
STRINGTABLE
BEGIN
    IDS_TOPIC_DESC0 "Cria uma nova instalação do WinDosDX no seu computador ou actualizar uma já existente."
    IDS_TOPIC_DESC1 "Mostra os arquivos contidos no CD."
    IDS_TOPIC_DESC2 "Clique para fechar esta aplicação."
END
